/* You can add global styles to this file, and also import other style files */

@import './form.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html {
    margin: 0;
    padding: 0;
}